listings/XSD-Mediador.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. -->

<xs:schema xmlns:tns="http://ewe.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ewe.org/">

<xs:element name="execSharcnet" type="tns:execSharcnet"></xs:element>

<xs:complexType name="execSharcnet">
<xs:sequence>
<xs:element name="server" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="login" type="xs:string"></xs:element>
<xs:element name="senha" type="xs:string"></xs:element>
<xs:element name="comando" type="xs:string"></xs:element>
<xs:element name="arqOutput" type="xs:string"></xs:element>
<xs:element name="requisitos" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

  <xs:element name="response" type="tns:response"/>

  <xs:complexType name="response">
    <xs:sequence>
      <xs:element name="result" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
